@value c-primary: #ffff;
@value c-dark: #525252;
@value c-border: #000;

:local  .panel {
    background-color: c-primary;
    width: 100%;
    border: 2px solid c-border;
    border-radius: 12px;
    margin-top: 8px;
    padding: 8px;
}

:local .title {
    color: c-dark;
    padding: 10px;
    text-align: center;
    text-decoration: underline solid c-border;
}